# Python
__pycache__/
*.py[cod]

# Virtual Environment
.venv/

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log

# Build
build/
dist/

# Environment
.env

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/